#app {
  height: 100%;
}
html,
body {
  position: relative;
  height: 100%;
}

body {
  /* background: #eee; */
  /* font-family: Helvetica Neue, Helvetica, Arial, sans-serif; */
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  height: 100vh;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  /* background: #fff; */

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

  
.slider1{
    background-image: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.345), rgba(0,0,0,0.5)), url(../../assets/banner1.webp) ;
}
.slider2{
    background-image: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.345), rgba(0,0,0,0.5)), url(../../assets/banner2.jpg);
}
.slider3{
    background-image: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.345), rgba(0,0,0,0.5)), url(../../assets/banner3.jpg);
}